<div class="col">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <h4>Please upload the file:</h4>
      <input class="btn col-5" type="file" accept=".tlg" name="profile" (change)="onFileSelect($event)" />
      <button class="btn btn-primary mr-1" type="submit">Upload</button>
    </div>
  </form>
</div>
<div class="col" *ngIf="feedback!= undefined">
  <h4>{{feedback}}</h4>
</div>
<div *ngIf="results.length">
  <div class="form-group col-6">
    <input type="text" class="form-control" placeholder="Search trades..." [(ngModel)]="searchText">
  </div>
  <div class="col">
    <h4>Imported Trades:</h4>
    <div class="row font-weight-bold">
      <div class="col-2">
        Timestamp
      </div>
      <div class="col-2">
        Instrument
      </div>
      <div class="col-4">
        Description
      </div>
      <div class="col-2">
        Volume
      </div>
      <div class="col-2">
        Total Price
      </div>
    </div>
    <div class="row" *ngFor="let result of results | filter:searchText">
      <div class="col-2">
        {{result.date | date: 'yyyy-MM-dd'}}
      </div>
      <div class="col-2">
        {{result.ticker}}
      </div>
      <div class="col-4">
        {{result.instrument}}
      </div>
      <div class="col-2">
        {{result.volume}}
      </div>
      <div class="col-2">
        {{result.profit | currency:'USD'}}
      </div>

    </div>
  </div>