<div *ngIf="trades.length">
  <div class="col">
    <div>
      <h4>Trader Profile:</h4>
      <div class="col">
        <div class="row font-weight-bold">
          <div class="col-2">
            Total trades: {{trader.totalTrades}}
          </div>
          <div class="col-2">
            Winning trades: {{trader.winningTrades}}
          </div>
          <div class="col-2">
            Losing trades: {{trader.losingTrades}}
          </div>
          <div class="col-2">
            Open positions: {{trader.openPositions}}
          </div>
          <div class="col-2">
            Win rate: {{trader.winRate | percent }}
          </div>
          <div class="col-2">
            Total Profit: {{trader.totalProfit | currency:'USD'}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <h4>Analyzed Trades:</h4>
    <div class="col">
      <div class="row font-weight-bold">
        <div class="col-2">
          Timestamp
        </div>
        <div class="col-2">
          Ticker
        </div>
        <div class="col-2">
          Profit
        </div>
        <div class="col-2">
          Status
        </div>
        <div class="col-2">
          Remaining
        </div>
      </div>
      <div class="row" *ngFor="let trade of trades | filter:searchText">
        <div class="col-2">
          {{trade.date | date: 'yyyy-MM-dd'}}
        </div>
        <div class="col-2">
          {{trade.ticker}}
        </div>
        <div class="col-2">
          {{trade.profit | currency:'USD'}}
        </div>
        <div class="col-2" *ngIf="trade.isOpen">
          OPEN
        </div>
        <div class="col-2" *ngIf="trade.isOpen">
          {{trade.volume}}
        </div>
      </div>
    </div>
  </div>